<div class="flex justify-center mt-20 text-center" *ngIf="!expired">
  <form [formGroup]="resetPasswordForm" class="flex flex-col w-96 space-y-10">
    <div class="font-sans tracking-wide text-xl">RESET PASSWORD</div>
    <mat-form-field appearance="outline">
      <mat-label>Enter New Password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        [type]="newHide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="newHide = !newHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="newHide"
      >
        <mat-icon>{{ newHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="resetPasswordForm.invalid" class="text-sm"
        >Must contain min 5 characters</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [type]="confirmHide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="confirmHide = !confirmHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="confirmHide"
      >
        <mat-icon>{{ confirmHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="resetPasswordForm.invalid" class="text-sm"
        >Must contain min 5 characters</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="resetPassword()"
      [disabled]="
        resetPasswordForm.invalid ||
        resetPasswordForm.value.newPassword !==
          resetPasswordForm.value.confirmPassword
      "
    >
      Reset
    </button>
  </form>
</div>

<div *ngIf="expired" class="text-center mt-20 text-xl text-gray-500 font-sans space-y-10">
  <p>Link Expired</p>
  <button mat-raised-button color="primary" routerLink="/forgot_password">Resend Link</button>
</div>
