<div class="flex justify-center mt-20 text-center">
  <form [formGroup]="forgotPasswordForm">
    <div>
      <div class="font-semibold font-sans text-4xl tracking-wide">
        Resetting your password
      </div>
      <div class="flex justify-center mt-2">
        <p class="w-4/6 text-base">
          To reset your password, please input your email address below and hit
          "reset". We'll then send you an email with instructions to follow.
        </p>
      </div>
      <mat-form-field appearance="outline" class="w-4/6">
        <input
          matInput
          placeholder="Enter your email address"
          formControlName="emailId"
          required
        />
        <mat-error *ngIf="forgotPasswordForm.invalid" class="text-sm"
          >Enter a valid email id</mat-error
        >
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="resetPassword()">
      Reset
    </button>
  </form>
</div>

<div *ngIf="spinner" class="flex justify-center my-3">
  <mat-spinner [diameter]="50" strokeWidth="3"></mat-spinner>
</div>

<div class="flex justify-center mt-10" *ngIf="mailSent">
  <div
    class="w-2/6 text-center text-lg font-sans bg-green-300 p-4 text-gray-600 rounded-md"
  >
    Mail Sent Successfully
  </div>
</div>
