/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
  color: #155724;
  background-color: #c7eed0;
}

.green-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.red-snackbar {
  color: #941919;
  background-color: #eecccc;
}

.red-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.white-snackbar {
  background-color: #ffffff;
  color: #2d6669;
}

.white-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 16px;
}
